html, body
{
    background-color: #9494a8;
}

#grid
{
    display: grid;
    height: 800px;
    grid-template-columns: 2fr 2fr 5fr 3fr;
    grid-template-rows: 1fr 5fr 2fr;
    grid-template-areas: 
    "header header header header" 
    "images body body sidebar"
    "about about about sidebar";

    border-style: outset;
    border-width: 10px;
    border-radius: 5px;
    border-color: #bbbbbb;

    margin: 2%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width:800px) {
    #grid
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.header
{
    grid-area: header;
    max-height: 100px;
    opacity: 100%;

    background: #083D77;
    background: linear-gradient(90deg, #083D77 0%, #084c77 100%);

    transition: all 0.5s;
}

.header:hover
{
    opacity: 90%;
}

.title
{
    min-width: 600px;
    opacity: 100%;
    transition: all 0.5s;
}

.title:hover
{
    opacity: 0%;
}

.title-hidden
{
    min-width: 600px;
    opacity: 0%;
    position: relative;
    top: -108px;
    transition: all 0.5s;
}

.title-hidden:hover
{
    opacity: 90%;
}


.sidebar
{
    grid-area: sidebar;

    background-color: lightblue;

    background: #80b4ba;
    background: linear-gradient(90deg, #80b4ba 0%, #add8e6 50%, #80b4ba 100%);
}

.title-img
{
    max-height: 100px;
    max-width: 250px;
}

.title-img-rel
{
    height: auto;
    position: absolute;
    left: -400px;
    width: 400px;
}

.block
{
    background-color: white;
    transition: all 0.5s;
    height: 10px;
}

.block:hover
{
    background-color: red;
    height: 25px;
}


.table
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.hover-img
{
    border-style: inset;
    max-width: 120px;
    border-color: white;

    transition: all 0.5s;
}
.hover-img:hover
{
    border-style: outset;
    max-width: 140px;
}

.image-size
{
    text-align: center;
    padding: 8px;
    min-width: 100px;
    
    font-size: larger;
}

.image-size:hover
{
    min-width: 120px;

    font-size: x-large;
}

.body
{
    grid-area: body;
    background: #008080;
    /* background: linear-gradient(180deg, rgb(41, 160, 138) 0%, rgba(0,128,128,1) 95%); */

    padding: 10%;
    padding-top: 4%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(0, 0, 0);
}

.paragraph
{
    padding: 2%;
    text-align: center;
}


.images
{
    grid-area: images;

    background-color: #af8d8d;
    background: linear-gradient(90deg, #af8d8d 15%, #bb9999 50%, #af8d8d 85%);
}

.about
{
    grid-area: about;

    
    background-color: #eab64f;
    background: linear-gradient(180deg, #e3be73 15%, #eab64f 50%);
}

.programs
{
    display: flex;
    flex-direction: row;
}

.center-title
{
    text-align: center;
}

.med
{
    font-size: medium;
}

h2, h3
{
    color: rgb(46, 46, 46);
}

p
{
    color: #0f1b27;
    text-shadow:  0px 2px 4px rgba(65, 65, 65, 0.75);
}